/* .stroke{
  background-color: red !important;
}*/


/* .custom-popup .popup-content {
  text-align: center;
  padding: 5px;
}

.custom-popup .popup-image {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.custom-popup:hover .popup-image {
  transform: scale(1.1); 
}

.custom-popup:hover {
  background-color: #f8f8f8;
} */
